**/__pycache__
*.DS_Store
*.gitattributes
**/.idea
**/.ipynb_checkpoints
**.zip
**.png
**/DockerTest

_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

**.nc
*.nc
*.log
**/sinmod
*/sinmod
*/save_counter_data

*/data
*/figures